{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <section class="about-section text-center" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2>Tricks</h2>
                    <p>This space is made to share our passion which unites us all, the SNOWBOARD</p>
                </div>
            </div>
            <div class="row card-columns offset-1">
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="{{ asset('assets/img/tail.jpg') }}" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Tail</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="{{ asset('assets/img/mute.jpg') }}" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Mute</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="{{ asset('assets/img/nose.jpg') }}" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Nose</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="{{ asset('assets/img/indy.jpg') }}" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Indy</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="{{ asset('assets/img/method.jpg') }}" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Method</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="https://snowtricks.adrien-pierrard.fr/img/uploaded/tail.jpg" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Trick name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="https://snowtricks.adrien-pierrard.fr/img/uploaded/tail.jpg" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Trick name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="https://snowtricks.adrien-pierrard.fr/img/uploaded/tail.jpg" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Trick name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="https://snowtricks.adrien-pierrard.fr/img/uploaded/tail.jpg" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Trick name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-offset-lg-1">
                    <div class="card bg-transparent">
                        <div class="img-top container-fluid">
                            <img class="img-fluid img-thumbnail" src="https://snowtricks.adrien-pierrard.fr/img/uploaded/tail.jpg" alt="Trick picture">
                        </div>
                        <div class="card-body">
                            <p class="featured-text card-text text-white">Trick name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-5">
                    <a class="btn btn-primary js-scroll-trigger" href="#">Show more <i class="fas fa-ellipsis-h"></i></a>
                </div>
                <div class="col-md-2 offset-md-2">
                    <a class="btn btn-primary js-scroll-trigger" href="#page-top">Go to top <i class="fas fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
