{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="col-md-8 offset-md-2">
                <div class="card bg-primary shadow mb-4">
                    <div class="card-header text-white">
                        <h4 class="card-title"><i class="fas fa-key"></i> Reset your password</h4>
                    </div>
                    <div class="card-body bg-white text-primary">
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        {{ form_start(resetForm) }}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="change_password_form_plainPassword_first"><i class="fas fa-key"></i> New password</label>
                                {{ form_widget(resetForm.plainPassword.first, {'attr':{'class':'form form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="change_password_form_plainPassword_second"><i class="fas fa-key"></i> Repeat password</label>
                                {{ form_widget(resetForm.plainPassword.second, {'attr':{'class':'form form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button class="btn btn-primary">Reset password</button>
                            </div>
                        </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
